@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    flex: 1;
}

body {
    background-color: black;
}

.webTitle1 {
    position: relative;
    font-family: 'Inconsolata';
    font-size: 45px;
    color: white;
    text-shadow: 0px 5px black;
    text-align: center;
    padding-top: 10px;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 10px;
}

.webTitle1:hover .altText {
    display: none;
}

.webTitle1:hover:before {
    content: "Meet your Demise";
    font-family: 'Rubik Glitch';
    font-size: 40px;
    font-weight: 100;
    color: red;

}

.webTitle2 {
    position: absolute;
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 1;
    opacity: 1;
    text-decoration: none;
    font-family: 'Rubik Glitch', cursive;
    font-weight: 100;
    font-size: 25px;
    color: white;
    text-shadow: 0px 5px red;
    text-align: left;
}

#sideNav a {
    position: absolute;
    position: fixed;
    z-index: 1;
    left: -80px;
    transition: 0.5s;
    padding: 15px;
    width: 120px;
    text-decoration: none;
    font-family: 'Rubik Glitch';
    font-size: 20px;
    color: white;
    text-shadow: 0px 1px blue;
    text-align: center;
    border-radius: 0 5px 5px 0;
}

#sideNav a:hover {
    left: 0;
}
  
#homeLink {
    top: 130px;
    background-color: black;
    border: 1px solid white;
}
  
#aboutLink {
    top: 200px;
    background-color: black;
    border: 1px solid white;
}
  
#charLink {
    top: 270px;
    background-color: black;
    border: 1px solid white;
}
  
#reviewLink {
    top: 340px;
    background-color: black;
    border: 1px solid white;
}

#gameLink {
    top: 410px;
    background-color: black;
    border: 1px solid white;
}

#info::after {
    content: "";
    clear: both;
    display: table;
}

#info-Freddy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    font-family: 'Inconsolata';
    color: white;
    font-size: 20px;
}

#info-Freddy img {
    float: left;
}

label {
    font-size: 30px;
}

.leftText {
    float: left;
    padding-left: 20px;
    font-size: 20px;
}

#info-Bonnie {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    font-family: 'Inconsolata';
    color: white;
    font-size: 20px;
}

#info-Bonnie img {
    float: left;
}

#info-Chica {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    font-family: 'Inconsolata';
    color: white;
    font-size: 20px;
}

#info-Chica img {
    float: left;
}

#info-Foxy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    font-family: 'Inconsolata';
    color: white;
    font-size: 20px;
}

#info-Foxy img {
    float: left;
}

#info-GFreddy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    font-family: 'Inconsolata';
    color: white;
    font-size: 20px;
}

#info-GFreddy img {
    float: left;
}

#footer {
    position: relative;
    bottom: 0px;
    color: gray;
    font-family: 'Inconsolata';
    font-size: 10px;
    text-align: center;
}

#fredbear { 
    cursor: pointer;
    position: absolute;
    top: 30px; 
    left: 180px; 
    z-index: 2;
    transition: all 0.1s;
}